body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #f4f4f4;
    width: auto;
}

.form-container {
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.form-container:hover {
    box-shadow: 0 4px 15px 15px rgba(0, 0, 0, 0.3);
}

/* form {
    max-width: 500px;
} */

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 5px;
}

button[type="submit"] {
    float: left;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="reset"] {
    float: right;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px black;
}

#birthDate {
    display: flex;
    gap: 10px;
}

#birthDate input {
    flex: 1;
}

/* #role {
    margin-top: 0px;
} */
